body {
    background-color: cornflowerblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

h1 {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

h2 {
    color: darkblue;
}