@charset "UTF-8";

/* Typical Device Breakpoints (Padrões Tamanho de Tela) segundo o W3C
   ------------------------------------------------------------------ 
Pequenas telas: até 600px
Celulares: de 600px até 768px
Tablets: de 768 até 992px
Desktop: de 992 até 1200px
Grandes telas: +1200px
*/

@media screen and (min-width: 768px) {
    i#burger {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}