@charset "UTF-8";

div {
    text-align: center;

}

body {
    background-color: rgba(0, 0, 0, 0.959);
}

h1 {
    color: white;
}

p {
    color: white;
}

p > a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}