@charset "UTF-8";

div {
    text-align: center;
    position: relative;
}

body {
    background-color: rgba(0, 0, 0, 0.959);
    transform: translate(0%, 15%);
}

h1 {
    color: white;
}

p {
    color: white;
}

p > a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}